<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>Dropbear</string>
	<key>Program</key>
	<string>REPLACE_ME/usr/local/bin/dropbear</string>
	<key>ProgramArguments</key>
	<array>
		<string>REPLACE_ME/usr/local/bin/dropbear</string>
		<string>-R</string>
		<string>--shell</string>
		<string>REPLACE_ME/bin/bash</string>
		<string>-E</string>
		<string>-p</string>
		<string>22</string>
		<string>-p</string>
		<string>2222</string>
		<string>-p</string>
		<string>4242</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/var/log/dropbear.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/dropbear_error.log</string>
</dict>
</plist>
